*,
*::before,
*::after {
  box-sizing: border-box;
}

.reserve-text {
  color: #fff;
  background-color: rgb(38, 177, 231);
  border-radius: 5px;
}

.reserve-btn {
  color: white;
  background: blue;
  font-size: 18px;
}

.cancel-btn {
  background: whitesmoke;
  color: red;
  font-size: 18px;
}

.container {
  border: 1px solid rgb(138, 135, 135);
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: lightgray;
}

.container button {
  border-radius: 7px;
  border: 1px solid lightgray;
}
