@import url("http://fonts.cdnfonts.com/css/montserrat");
@import url("http://fonts.cdnfonts.com/css/roboto-slab-2");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Styling Header */
.panel-bg {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: auto 60px;
}

.Logo-Text {
  width: 17rem;
  height: 2.313rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.Mission {
  width: 3.688rem;
  height: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.Myprofile {
  width: 6.563rem;
  height: 1rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.navigation {
  display: flex;
  margin-top: 20px;
}
