@import url("http://fonts.cdnfonts.com/css/montserrat");
@import url("http://fonts.cdnfonts.com/css/roboto-slab-2");

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  margin-bottom: 50px;
}

/* Styling Header */
.navigation {
  background-color: #fff;
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.Logo-Text {
  height: 2rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.Mission {
  width: 3.688rem;
  height: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #0290ff;
}

.Myprofile {
  width: 6.563rem;
  height: 1rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #0290ff;
}

header ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 2rem;
}

.logoFrame {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 200px;
  height: 100px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  color: hotpink;
  text-decoration: underline;
}

.Myprofile::before {
  content: "|";
  margin-right: 1rem;
}

hr.horizon {
  border-top: 1px solid #0290ff;
}
